[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = "==1.0.4"
pygments = "*"
mkdocs-material = "==4.0.1"
backports-abc = "*"
pyyaml = "*"
jinja2 = "*"

[requires]
python_version = "3"
